<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a href="https://github.com/vigneshms2302" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a  href="https://www.linkedin.com/in/vignesh-m-s-27a658211/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a  href="https://www.instagram.com/vignesh_m_s_" target='_blank'>
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a  href="Vigneshms2302@gmail.com" target='_blank'>Vigneshms2302@gmail.com </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a  href="https://github.com/vigneshms2302" target="_blank" rel="nofollow noopener noreferrer">
            <div>Designed And Built with Angular by Vignesh</div>
        </a>       
    </div>

</footer>