<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <!-- <h1>Hola, mi nombre es</h1> -->
                    <h1>Hello there! I'm</h1>
                </div>
                <div class='banner-title'>
                    <h2 class="text-capitalize">Vignesh.</h2>
                    <h3 class="text-capitalize">UX UI Developer & Designer</h3>
                </div>
                <div class='banner-description'>
                    <p class="mt-4">At 22, I bring a strong foundation of <span class="underline">2+ years in front-end development</span> (HTML, CSS, JavaScript) to the table.  I'm currently thriving as a UX/UI Developer & Designer at Finsurge, a fintech company, leveraging Angular to craft exceptional user experiences (1 year 5 months in!).  I'm passionate about clean, maintainable code and building beautiful, user-friendly interfaces.</p>            </div>
            </div>
                    <div class="div-btn-banner">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")' href="vigneshms2302@gmail.com" target="_black" class="main-btn text-capitalize">
                    get in touch
                </a>
            </div>
        </div>
    </div>
</section>
