<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                   <h1>👋 Hey there! I'm</h1>
                </div>
                <div class='banner-title'>
                    <h2 class="text-capitalize">Vignesh.</h2>
                    <h3 class="text-capitalize">UX UI Developer & Designer</h3>
                </div>
                <div class='banner-description'>
                    <p class="mt-4">
                        I'm fluent in web languages (HTML, CSS, JavaScript) and I use them to create interfaces that are both stunning and user-friendly. Think of me as your digital superhero, swooping in to rescue interfaces from the clutches of clunkiness and replacing them with pure awesomeness. Fueled by empathy and more than a few cups of coffee, I've been battling UX dragons at Finsurge, a fintech powerhouse, for over a year now.
                    </p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")' href="mailto:vigneshms2302@gmail.com" target="_black" class="main-btn text-capitalize">
                    Let's Chat!
                </a>
            </div>
        </div>
    </div>
</section>
