<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> About me
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                        <p data-aos="fade-up" data-aos-duration="1000">
                            Over the past <span class="underline">2 years as a developer</span>, I've dedicated myself to constant growth. My journey involves embracing <span class="underline">continuous integration</span> principles while seamlessly navigating the world of front-end development with a focus on technologies such as
                        </p>

                        <p>
                            <span class="underline">JavaScript, TypeScript, Angular, ES6</span>. I've taken the helm of teams, fostering empathy, motivating colleagues, and collaboratively setting and achieving our objectives.
                        </p>

                        <p>
                            Beyond this, I excel in implementing system enhancements, optimizing web platforms, establishing standardized patterns, and innovating to add substantial value to every project.
                        </p>

                        <p>Here are some of the technologies I've mastered and utilized (though my repertoire extends further):</p>                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Angular </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">RxJS </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">HTML </span></li>
                        
                
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">(S)CSS </span></li>
                 
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">TypeScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">JavaScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">JQuery </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Bootstrap, Material </span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="about-img-container">
                        <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")'  width="300" height="300" src="assets/images/me/Vignesh.jpg" alt="vignesh image">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
