<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> About me
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                        <p data-aos="fade-up" data-aos-duration="1000">
                            For the past <span class="underline">2 years</span>, I've been on a wild coding adventure, embracing the chaos of constant growth and navigating the ever-evolving landscape of front-end development. Armed with a keyboard and an unyielding sense of curiosity, I've dived into technologies like
                        </p>
                        <p>
                            <span class="underline">JavaScript, TypeScript, Angular</span>. I've even had the honor of leading teams, inspiring empathy, motivating colleagues, and together, we've boldly set and conquered our objectives.
                        </p>

                        <p>
                            But that's not all—I'm also a master of system enhancements, a wizard at optimizing web platforms, and an innovator extraordinaire. With every project, I strive to add substantial value and sprinkle it with just the right amount of magic.
                        </p>

                        <p>Here are some of the spells (technologies) I've mastered:</p>
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Angular </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">RxJS </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">HTML </span></li>
                        
                
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">(S)CSS </span></li>
                 
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">TypeScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">JavaScript </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">JQuery </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Bootstrap </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Material </span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Figma </span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="about-img-container">
                        <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")'  width="300" height="300" src="assets/images/me/vignesh.jpg" alt="vignesh image">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
