<section class="section contact" id='contact'>
    <div class="container">
      <div class="section-box">
        <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
          <h3 class="contact-pre-title big-subtitle">05.  Let's Stop the Awkward Silence </h3>
          <h4 class="e-font contact-title big-title">
            Coffee & Code Chat? ☕️
          </h4>
        </div>
        <p data-aos="fade-up" data-aos-duration="1000">
          Feeling the urge to talk about awesome projects or just geek out a bit? Don't be shy, hit me up! I (promise to try to) respond faster than a browser refresh.
        </p>
        <div class="mt-5">
          <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "contact", "email")' href="https://mail.google.com/mail/?view=cm&fs=1&to=vigneshms2302@gmail.com" class="main-btn" data-aos="fade-up" data-aos-duration="1000">
            Beam Me Up, Scotty (aka Email Me) 
          </a>
        </div>
      </div>
    </div>
  </section>
  